@font-face {
    font-family: 'Maloney';
    src: local('Maloney'),
        url('Maloney.woff2') format('woff2'),
        url('Maloney.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hugh is Life Personal Use';
    src: local('Hugh is Life Personal Use Italic'), local('HughisLifePersonalUse-Italic'),
        url('HughisLifePersonalUse-Italic.woff2') format('woff2'),
        url('HughisLifePersonalUse-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

