@font-face {
    font-family: 'Maloney';
    src: url('Maloney.woff2') format('woff2'),
        url('Maloney.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

